--- layout: archive title: "Publications" permalink: /publications/ author_profile: true --- {% if site.author.googlescholar %}
You can also find my articles on my Google Scholar profile.
{% endif %} {% assign pubs = site.publications | sort: "date" | reverse %} {% assign by_year = pubs | group_by_exp: "p", "p.date | date: '%Y'" %} {% for year in by_year %}
{{ year.name }}
{% for p in year.items %}
{{ p.title }}
{% capture me %}{{ site.author.name }}{% endcapture %} {% if p.authors %}{{ p.authors | replace: site.author.name, me }}{% endif %} {% if p.authors and p.venue %}
{% endif %} {% if p.venue %}{{ p.venue }}{% endif %}
{% endfor %} {% endfor %}



